{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DataNature is an online platform, offering free education in topics like Machine Learning, Data Minining and much more!">
    <meta name="author" content="The DataNature-Team and many awesome contributors">

    <title>{% trans "DataNature - Online learning" %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    
    <!-- Style for the Login -->
    <link href="{% static "css/login.css" %}" rel="stylesheet">
    
    <!-- Timeline CSS -->
    <link href="{% static "css/timeline.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <script src="{% static "js/src-noconflict/ace.js"%}" type="text/javascript"charset="utf-8"></script>

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static "components/jquery/dist/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Timeline JavaScript -->
    <script src="{% static "js/timeline.js" %}"></script>
    
    <!-- Theme JavaScript -->
    <script src="{% static "js/theme.js" %}"></script>


    

</body>

</html>
